* {
  box-sizing: border-box;  
    
}
body
{
    background-color: black;
}
#logo
{
    
    max-width: 100%
    margin-right: %;
    height: 100px;
    margin-left: 20%;
}
#beforesignin
{
    position: fixed;
    position: absolute;
    border: 1px solid ;
    top: 25px;
    right: 10px;
    width: 100px;
    height: 100px;
    margin-left: 90%;
    margin-right: 0%;
    padding: 0px;
    background: none;
    color: white;
    font-size: 21px;
}
#pricing
{
    position: fixed;
    top: 25px;
    right: 10px;
    width: 100px;
    border: 1px black ;
    height: 100px;
    margin-left: 90%;
    margin-right: 10%;
    padding: 0px;
    background: none;
    color: white;
    font-size: 21px;
}
#sidebar
{
    margin: 0px;
    padding: 0px;
    position: fixed;
    top:0px;
    left:-200px;
    width: 200px;
    height: 100%;
    background: white;
    transition: all 500ms linear;
}
#sidebar.active {
    left: 0px;
}
#sidebar ul li
{
    color: black;
    list-style: name;
    padding: 15px 10px;
    border-bottom:  1px black;    
}
#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 0%;
    height: 0px;
}
#sidebar .toggle-btn span{
    display:block;
    width: 26px;
    height: 3px;
    background: white;
    margin: 5px 0px; 
}
