h1
{
  font-family: 'Trade Winds';

    color: white;
    margin: 1\0px;
    text-align: center;
    background: blueviolet;
    padding: 10px;
    border: red;
    border-bottom-style:solid;
    border-radius: 100px;
}

body
{
    background-color: navy;
}
#pes{
     float: left;
    height: auto;
    width: 100%;
}

#pubg{
    float: left;
    height: 400px;
    width: 500px;
}

#asphalt{
     float: left;
    height: 400px;
    width: 500px;
}
